*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-color: rgb(37, 34, 61);
}
.firstname{
  font-size: 16px;
color: #ffffff;
}
.text{
 font-size: 16px;
 color:#ffffff;
 padding-top: 12px;
}

#box{
  text-align: center;
  padding: 20px 0;
  background: rgb(122, 122, 241);
}


#box2{
   
    text-align: center;
    background: rgb(122, 122, 241);
    margin-top: 30px;
    padding: 20px 0;
}